<h4>Order #<%= order.id %></h4>
<p>Placed by <%= order.customer.name %> on <%= order.created_at %></p>
<a href="#" class="js-products" data-id="<%= order.id %>">View Products Comprising This Order</a>
<% if !order.products.empty? %>
  <ul id="order-<%= order.id %>-products">
  </ul>
<% end %>
