<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
  <ul id="product-<%= product.id %>-orders"></ul>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  event.preventDefault ();
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(product) {
      var availability = "<strong>Available</strong>";
      if(product["inventory"] === 0){
        availability = "<strong>Sold Out</strong>";
      }
      var productInfo = "<p>" + product["description"] + "</p><p>" + availability + "</p>";
      $("#product-" + id).html(productInfo);
      var orders = product["orders"];
      var orderedProducts = "";
      orders.forEach(function(order) {
        orderedProducts += '<li class="js-order" data-id="' + order["id"] + '">' + order["id"] + ' - ' + order["created_at"] + '</li>';
      });
      $("#product-" + id + "-orders").html(orderedProducts);
    });
  });
});
</script>
