<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <h3>Orders:</h3>
  <ul id="product-orders-<%= product.id %>"></ul>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var inventoryText = "<strong>Available</strong>";
      if(data["inventory"] === "false"){
        inventoryText = "<strong>Sold Out</strong>";
      }
      var descriptionText = "<p>" + data["description"] + "</p><p>" + inventoryText + "</p>";
      $("#product-" + id).html(descriptionText);
      if (data["orders"].length !== 0 ) {
        let orderItems = ""
        data.orders.forEach(order => {
          orderItems += '<li>Order Id: ' + order["id"] + ', Created At: ' + order["created_at"] + '</li>'
        })
        $("#product-orders-" + id).html(orderItems)
      }
    });
  });
});
</script>
